html{
  scroll-behavior: smooth;

}
body{
  background-color: #F2ECD8;
  margin: 0;
  text-align: center;
}
nav {
  position: fixed;
  max-width: 100%;
  width:100%;
  background-color: #436E73;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}
a {
  color: #F2ECD8;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}
i{
  color: #F2ECD8;
}
.links{
  font-size: 25px;
}
.nav-link{
  margin-right: 30px;
}
#bars-menu{
  margin-right: 50px;
  display:none;
  transform: scaleY(1.25) scaleX(1.25);
}
#nav-title{
  color: #F2ECD8;
  margin-left: 35px;
  font-family: 'Fuggles', serif;
  font-size: 41px;
}
.full-screen{
  height: 100vh;
  max-width: 100%;
  padding-top:5em;
}
.full-screen-no-height{
  height: auto;
  max-width: 100%;
  padding-top:5em;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding:3em 3em 0em 3em;
}
p, h1, .text{
  color: #3772A6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.side-by-side{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.half-width{
  max-width: 40%;
  margin: auto;
}
.quarter-width{
  max-width: 20%;
  margin: auto;
}
.img-responsive{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.description{
  font-size: 25px;
}
.motto{
  font-size: 35px;
  font-weight: bold;
}
button{
  color: #F2ECD8;
  background-color: #436E73;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
}
.grayed{
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
}
.italic{
  font-style: italic;
}
.plan-box{
  box-shadow: 0 20px 25px rgba(0,0,0,0.18), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #A1B8DA;
  max-width: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 19px;
  text-align: center;
  transition-duration: 500ms;
  cursor: pointer;
  flex-wrap: wrap;
}
.plan-box:hover {
  transform: scaleY(1.15) scaleX(1.15);
}
#plans{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  max-width: 75%;
}
.modal {
  padding-top:4vh;
  top:0;
  left:0;
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow: scroll;
}
.modal-content{
  background-color: #EBF2DC;
  margin: auto;
  padding:15px;
  width:50%;
  border-radius: 10px;
}
.links-mobile a{
  color:black;
  padding:10px;
}
.close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.links-mobile{
  display: flex;
  flex-direction: column;
  color: #261917;
  font-family: monospace;
  font-size: 20px;
}
.motives{
  margin: 30px;
}
.motive{
  margin:60px 20px;
}
@media screen and (max-width: 1156px) {
  #welcome-img{
    display: none;
  }
  #welcome-text-box{
    max-width:70%;
  }
}
@media screen and (max-width: 891px) {
  .links{
    display: none;
  }
  #nav-title{
    margin-left: 0;
  }
  #bars-menu{
    display: block;
  }
}
@media screen and (max-width: 795px) {
  .plan-box{
    width: 400px;
  }
  .modal-content{
    width:85%;
  }
  .quarter-width{
    max-width:40%;
  }
}
