html{
  scroll-behavior: smooth;

}
body{
  background-color: #F2ECD8;
  margin: 0;
}
nav {
  background-color: #436E73;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a {
  color: #F2ECD8;
  font-style: normal;
  text-decoration: none;
  cursor: pointer;
}

.links{
  font-size: 25px;
}

.nav-link{
  margin-right: 30px;
}
#nav-title{
  color: #F2ECD8;
  margin-left: 25px;
  font-family: 'Fuggles', serif;
  font-size: 61px;
}
.full-screen{
  height: 100vh;
  max-width: 100%;
  padding:5em;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.example{
  font-size: 40px;
  font-style: italic;
}
